@import "variables";
@import "mixins";


header {
    max-width: toRem($w-menu);
    background-color: $menuBgColor;
    width: 100%;    

   .nav {
        padding: toRem($p-24);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 240;
        border-right: 1px solid $borderTasks;

        .list-nav{
            display: flex;
            flex-direction: column;
            gap: toRem($gap-12);
            width: 100%;
        }
        .svg-icon {
            vertical-align: middle;
        }

        .item-nav, .bottom-link {
            padding: toRem($p-12) toRem($p-16);

            &:hover {
                background-color: $bgHoverColor;
                color: $btnBg1;
                border-radius: toRem($p-8);

                .svg-icon {
                    color: $btnBg1;
                }
            }
        }

        .item-nav.active, .bottom-link.active {
            background-color: $bgHoverColor;
            color: $btnBg1;
            border-radius: toRem($p-8);

            .svg-icon {
                color: $btnBg1;
            }
        }

        span {
            vertical-align: middle;
            padding-left: toRem($p-8);
        }
    } 
}


