$mainBgColor:#F3F4F6;
$menuBgColor:#F9FAFB;
$mainColor:#374151;

$btnBg1:#4F46E5;
$btnBg2:#2563EB;
$btnHoverBg:#6366F1;
$btnActiveBg: #4338CA;
$btnHoverBg2:#1D4ED8;

$bgHoverColor:#E0E7FF;

$bgStatusTD:#E5E7EB;
$bgStatusOH:#FEF3C7;
$bgStatusD:#DCFCE7;
$bgStatusC:#FEE2E2;
$bgStatusInP:#DBEAFE;

$colorStatusTD:#1F2937;
$colorStatusOH:#92400E;
$colorStatusD:#16A34A;
$colorStatusC:#DC2626;
$colorStatusInP:#2563EB;

$bgCard:#F9FAFB;

$borderTasks: #E5E7EB;

$fs-12: 12;
$fs-14: 14;
$fs-16: 16;
$fs-20: 20;
$fs-24: 24;
$fs-40: 40;

$gap-12: 12;
$gap-16: 16;
$gap-24: 24;
$gap-40: 40;

$p-8: 8;
$p-12: 12;
$p-14: 14;
$p-16: 16;
$p-24: 24;

$w-menu: 240;