@import "../styles.scss";

.head {
    display: flex;
    justify-content: space-between;
    padding: toRem(12) toRem(24);
    align-items: center;
    border-bottom: 1px solid $borderTasks;

    h1 {
        font-weight: 700;
        font-size: toRem($fs-20);
        line-height: 150%;
    }
    .user-image {
        img {
            width: toRem(40);
            height: toRem(40);
            border-radius: toRem(20);
        }
    }
}

textarea {
    resize: none;
}

.content {
    padding: toRem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(25);

    .back-to-tasks {
        color: #6B7280;
        font-weight: 600;
        line-height: toRem(24);
        display: flex;
        align-items: center;
        align-self: flex-start;

        &::before {
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: toRem(4);
            background: url("/images/icons/arrow-left.svg") no-repeat center / contain;
        }
    }

    .content-form, .container-task {
        display: flex;
        flex-direction: column;
        max-width: toRem(600);
        width: 100%;
        background-color: #FFFFFF;
        justify-content: center;
        padding: toRem(24) toRem(32);
        align-items: start;
        gap: toRem($gap-24);
        border-radius: toRem(12);

        h2 {
            font-size: toRem($fs-24);
            line-height: toRem($fs-24);
        }

        .create-new-task {
            display: flex;
            flex-direction: column;
            gap: toRem($gap-24);
            align-items: start;
            width: 100%;

            div {
                width: 100%;

                span {
                    color: red;
                }
            }

            label {
                font-size: toRem($fs-14);
                line-height: 150%;
            }

            input, select, textarea {
                padding: toRem(13) toRem(8);
                border: 1px solid $borderTasks;
                border-radius: toRem(8);
                margin-top: toRem($p-8);

                &:hover {
                    border: 1px solid #9CA3AF;

                }
            }

            .form-field{
                display: flex;
                flex-direction: column;

                select {
                    appearance: none;
                    background-image: url("/images/icons/chevron-down.svg");
                    background-repeat: no-repeat;
                    background-position: right toRem(12) center;
                    background-size: toRem(16);
                    
                }

                &__control {
                    color: $mainColor;
                    font-size: toRem($fs-14);
                }
            }
        }

        button {
            padding: toRem(8) toRem(24);
            color: #FFFFFF;
            background-color: $btnBg2;
            border-radius: toRem(8);
            font-weight: 600;
            line-height: toRem(24);

            &:hover {
                background-color: $btnHoverBg2;
            }
        }
    }
}