@import "../styles.scss";
@import "create-task";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    font-weight: 600;
    line-height: 150%;
    background-color: $menuBgColor;

    .content {
        gap: toRem($gap-48)
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: toRem($gap-16);
        
        h1, h2 {
            font-size: toRem($fs-40);
            margin-bottom: toRem($m-16);
            line-height: 150%;
            text-align: center;

            span {
                color: $btnBg1;
            }
        }

        p {
            font-size: toRem($fs-24);
            text-align: center;
        } 
    }

    .generate-sample-project {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: toRem($m-48);

        button {
            padding: toRem($p-16) toRem($p-32);
            color: $mainBgColor;
            font-size: toRem($fs-24);
            background-color: $btnBg1;
            border-radius: toRem(8);

            &::before {
                content: url("/images/icons/rocket.svg");
                margin-right: toRem($m-8);
                vertical-align: sub;
            }

            &:hover {
                background-color: $btnHoverBg;
            }

            &:active {
                background-color: $btnActiveBg;
            }

        }

        .right-pointing-arrow {
            transform: scaleX(-1);
        }
    }

    .img-container {
        display: flex;
        justify-content: center;
    }

    .modal {
        position: fixed;
        inset: 0;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1000;
        color: $font-color;
      
        &.active {
          display: flex;
        }
    }

    .modal-content { 
        background-color: #FFFF;
        padding: toRem($p-20);
        max-width: toRem(400);
        border-radius: toRem(8);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: toRem($gap-24);

        img {
            height: toRem(60);
            width: toRem(60);
            display: flex;
            justify-content: center;
        }

        h5 {
            font-size: toRem($fs-20);
        }

        .modal-message {
            font-size: toRem($fs-14);
            font-weight: 400;
            color: $mainColor;
        }

        .close-btn {
            display: flex;
            justify-content: end;

            img {
                width: toRem(20);
                height: toRem(20);
            }
        }

        .modal-action {
            display: flex;
            justify-content: center;
            gap: toRem($gap-24);

            button {
                padding: toRem($p-8) toRem($p-24);
                border-radius: toRem(8);
            }

            .cancel-btn {
                background-color: $borderTasks;
                color: $mainColor;

                &:hover {
                    background-color: $mainBgColor;
                }
            }

            .confirm-btn {
                background-color: $btnDelete;
                border: 1px solid $btnDelete;
                color: #FFFF;

                &:hover {
                    background-color: #FFFF;
                    color: $btnDelete;
                }
            }
        }
    }
}

[data-project-ready] {
    text-align: center;
    display: flex;

    .buttons {
        display: flex;
        gap: toRem($gap-48);

        .explore-tasks {
            display: flex;
            align-items: center;
            background-color: $btnBg1;
            color: #FFFF;

            &::before {
                content: "";
                width: toRem(24);
                height: toRem(24);
                background: url("/images/icons/list-todo.svg") no-repeat center/contain;
                margin-right: toRem($m-8);
            }

            &:hover {
                background-color: $btnHoverBg;
            }

            &:active {
                background-color: $btnActiveBg;
            }
        }

        button {
            padding: toRem($p-8) toRem($p-24);
            transition: background-color 0.3s ease;
            border-radius: toRem(8);
        }

        .clear-all-data {
            border: 1px solid #EF4444;
            color: #EF4444;
            background-color: $menuBgColor;

            &:hover {
                color: $menuBgColor;
                background-color: #EF4444;
            }
        }
    }
}

body.blurred .content, body.blurred .nav{
    filter: blur(5px);
    transition: filter 0.3s ease;
}