@import "../styles.scss";
@import "create-task";

.content {
    padding: toRem($p-32) toRem($p-24);
    align-items: start;
    color: $font-color;

    .head-content {
        display: flex;
        flex-direction: column;
        gap: toRem($gap-24);

        h2 {
            font-size: toRem($fs-20);
            font-weight: 600;
            line-height: 150%;
        }

        .list-users {
            display: flex;
            flex-direction: column;
            gap: toRem($gap-16);

            li {
                display: flex;
                gap: toRem($gap-12);
                align-items: center;
                padding-bottom: toRem($p-8);
                border-bottom: 1px solid $borderTasks;

                span {
                    background-color: $bgStatusInP;
                    color: $btnBg1;
                    font-size: toRem($fs-12);
                    font-weight: 600;
                    padding: toRem($p-6) toRem($p-12);
                    border-radius: toRem(4);
                }

                img {
                    max-width: toRem(40);
                    max-height: toRem(40);

                }

                .user-name {
                    flex-grow: 1;
                }
            }
        }

        .members {
            font-size: toRem($fs-14);
            font-weight: 400;
            line-height: 150%;

            span {
                font-weight: 600;
            }
        }
    }

    .add-member {
        font-weight: 600;
        background-color: $btnBg1;
        border-radius: toRem(8);
        transition: background-color 0.3s ease;
        
        button {
          color: $mainBgColor;
          padding: toRem($p-8) toRem($p-24);
        }

        &:hover {
            background-color: $btnHoverBg;
        }

        &:active {
            background-color: $btnActiveBg;
        }
    }
}