<nav class="nav">
	<div class="logo-title">
		<img src="images/icons/logo.svg" alt="logo Chorely" />
	</div>

	<ul class="list-nav">
		<li class="item-nav">
			<a href="pages/tasks.html">
				<svg class="svg-icon" viewBox="0 0 24 24" width="1.5rem" height="1.5rem">
					<use xlink:href="images/icons/svgsprit/sprite.svg#list-todo"></use>
				</svg>
				<span>Tasks</span>
			</a>
		</li>
		<li class="item-nav">
			<a href="pages/statistics.html">
				<svg class="svg-icon" viewBox="0 0 24 24" width="1.5rem" height="1.5rem">
					<use xlink:href="images/icons/svgsprit/sprite.svg#chart-bar-big"></use>
				</svg>
				<span>Statistics</span>
			</a>
		</li>
		<li class="item-nav">
			<a href="pages/settings.html">
				<svg class="svg-icon" viewBox="0 0 24 24" width="1.5rem" height="1.5rem">
					<use xlink:href="images/icons/svgsprit/sprite.svg#settings"></use>
				</svg>
				<span>Settings</span>
			</a>
		</li>
		<li class="item-nav">
			<a href="pages/about.html">
				<svg class="svg-icon" viewBox="0 0 24 24" width="1.5rem" height="1.5rem">
					<use xlink:href="images/icons/svgsprit/sprite.svg#presentation"></use>
				</svg>
				<span>About</span>
			</a>
		</li>
	</ul>

	<div class="bottom-link">
		<a href="pages/project-setup.html">
			<svg class="svg-icon" viewBox="0 0 24 24" width="1.5rem" height="1.5rem">
				<use xlink:href="images/icons/svgsprit/sprite.svg#rocket"></use>
			</svg>
			<span>Project Setup</span>
		</a>
	</div>
</nav>
